extends ../../layouts/public


block content
	dic.container
		div.logo
			img(src="/images/logo.png")

		h1 YOUTH PLATFORM
		h2 Thank you for logging in, #{user.displayName}
		p Camille will be in touch with you soon to invite you to the <strong>Private</strong> Facebook Group