extends ../layout


block content
	dic.container
		div.logo
			img(src="/images/logo.png")

		h1 Social Peace Platform
		h2 Thank you for logging in
		p Camille will be in touch with you soon to invite you to the <strong>Private</strong> Facebook Group