.xmas-card-container {
	position: relative;

}
.xmas-card-container img {
	position: absolute;
	top:0;
	left:0;
}
.xmas-card-container .xmas-card-message {
	position: absolute;
	width:80%;
	background:#fff;
	padding:8px;
	top:20px;
	left:10%;
}
.xmas-card-container h1 {
	position: absolute;
	width:80%;
	background:#fff;
	padding:8px;
	bottom:20px;
	left:10%;
}