extends ../../layouts/admin


block content
	dic.container

		h1 YOUTH PLATFORM
		h2 Thank you for logging in
		p Please let an admin know you have logged in. You will need to be approved before you can start using the admin tools.