extends layout


block content

	div(ng-controller="TagSelectorController")
		div( 
			tag-selector
			available-tags="availableTags",
			selected-tags="selectedTags"
		)

		pre {{availableTags}}
		pre {{selectedTags}}


		//- div(
		//- 	rzslider
		//- 	stepsArray
		//- 	rz-slider-model="slider.value"
		//- 	rz-slider-options="slider.options"
		//- )

