.tag-selector {text-align: center;}
.tag-selector button {
	background-color: #ddd !important;
}
.tag-selector button.selected span {
	color:#000;
}
.tag-selector button.selected {
	background-color: rgb(57,73,171) !important;
	
}
.tag-selector button.selected span {
	color:#fff;
}